@import "../../node_modules/bootstrap/less/bootstrap.less";

@body-bg: #281e0d;
@borderColor: #a47537;
@backgroundColor: #ddc898;
@contentColor: #EBD4A1;

@list-group-bg: @contentColor;
@list-group-border: none;


.container {
   background: @backgroundColor;
}

header {
   margin-top: 15px;
}

.fill-in-textbox() {
   background-color: @contentColor;
   margin-top: 30px;
}

main {
   margin: 15px 0 20px;

   .flex-row {
      display: table;

      @media (min-width: @screen-sm-min) {
         display: inline-flex;
      }
   }

   #about, #contacts {
      .fill-in-textbox();
   }

   li {
      padding: 5px 8px;

      i {
         margin-right: 10px;
      }
   }

   #projects {
      .fill-in-textbox();

      .description {
         margin-bottom: 30px;
      }
   }
}